In [0]:
SELECT 
  state_abbr,
  SUM(
    CAST(
      REPLACE(
        `GHG emissions mtons CO2e`,
        ',',
        ''
      ) AS DOUBLE
    )
  ) AS Total_Emissions
FROM emissions_data_2023
GROUP BY state_abbr
ORDER BY Total_Emissions DESC
-- LIMIT 10